/* ProfilePage.module.css */

.profilePage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #1e1e1e;
}

.card {
  background: #1e1e1e;
  border-radius: 8px;
  max-width: 300px;
  padding: 20px;
  text-align: center;
}

.profilePhoto {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

h1 {
  color: white;
  font-size: 24px;
  margin-top: 10px;
}

.logoutButton {
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 5%;
}

.logoutButton:hover {
  background-color: white; /* White background */
  color: black; /* Black text */
  border: 2px solid #4CAF50;
}

.logoutButton:focus {
  outline: none;
  border: 2px solid #4CAF50;
  background-color: #4CAF50;
  color: white;
}

.logoutButton:active {
  background-color: #4CAF50;
  transform: translateY(2px);
}
