.body {
  color: #1e1e1e;
  background-color: #f0f0f0;
  margin: 0;
  font-family: Arial, sans-serif;
}

.profilePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.card {
  background: #1e1e1e;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(242, 229, 229, 0.1);
  max-width: 300px;
  padding: 20px;
  text-align: center;
}

.profilePhoto {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  object-fit: cover;
}

.photoInput {
  margin-top: 10px;
  color: white;
}

.title {
  color: white;
  font-size: 18px;
}

.socialIcons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.socialIcons a {
  color: #ffffff;
  font-size: 24px;
  transition: color 0.3s;
}

.socialIcons a:hover {
  color: #0073e6;
}

.contactButton,
.logoutButton {
  background-color: #0073e6;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  margin-top: 10px;
  transition: background-color 0.3s;
}

.contactButton:hover,
.logoutButton:hover {
  background-color: #005bb5;
}
